.desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 1440px;
  height: 800px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  width: 1440px;
  height: 100px;
  background: #f4f4f4;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: static;
  width: 1024px;
  height: 100px;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: static;
  width: 1000px;
  height: 48px;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 169px;
  height: 26px;
  top: 1px;
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  position: static;
  width: 80px;
  height: 26px;
  background: #0271c7;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.update {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  position: static;
  width: 79px;
  height: 26px;
  background: #0271c7;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin: 0px 10px;
}

.button-title {
  position: static;
  width: 56px;
  height: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #ffffff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.control .input-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  width: 250px;
  height: 28px;
}

.input-area input {
  display: flex;
  padding: 0px 0px 0px 12px;
  position: static;
  width: 210px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.input-area .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0px 20px 0px 0px;
}

.vector {
  width: 18px;
  height: 18px;
}

/*Main*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 1440px;
  height: 700px;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: static;
  width: 1024px;
  height: 700px;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  width: 1000px;
  height: 48px;
  margin-left: 12px;
}

.month-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: static;
  width: 220px;
  height: 24px;
}

.arrow-back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;
  position: static;
  width: 32px;
  height: 24px;
  background: #ffffff;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transform: rotate(-180deg);
}

.arrow-back :hover {
  padding: 2px 6px;
  position: static;
  width: 32px;
  height: 24px;
  background: #6b6b6b;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.arrow-forward {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;
  position: static;
  width: 32px;
  height: 24px;
  background: #ffffff;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.arrow-forward :hover {
  padding: 2px 6px;
  position: static;
  width: 32px;
  height: 24px;
  background: #6b6b6b;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.arrow {
  position: static;
  width: 20px;
  height: 20px;
}

.month-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  width: 108px;
  height: 21px;
  /*text*/
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
}

.extra-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  width: 59px;
  height: 18px;
  background: #ffffff;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 0px 10px;
}

.extra-button .button-title {
  position: static;
  width: 47px;
  height: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #292929;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 1000px;
  height: 600px;
  margin-left: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: static;
  width: 1000px;
  height: 120px;
}

.row :hover {
  padding: 8px;
  position: static;
  width: 143px;
  height: 120px;
  background: #27a1ff;
  border: 1px solid #292929;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  position: static;
  width: 143px;
  height: 120px;
  background: #ffffff;
  border: 1px solid #292929;
  /*text*/
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6b6b6b;
}
